body {
    background-color: #b761df;
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#title{
    color: white;
    text-align: center;
    font-size: 50px;
    width: 45%;
    background-color: #4CAF50;
    color: rgb(7, 7, 7);
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    background-color: #f7f7f7;
    font-family: 'poppins', sans-serif;
    
}
#gamePinText{
    text-align: center;
    color: white;
    font-family: 'poppins', sans-serif;
    font-size: 40px;
}
#players{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    resize: none;
    position: relative;
    width: 400px;
    height: 450px;
    background: rgb(158, 156, 156);
    border: 3px solid rgb(125, 151, 238);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#start{
    background-color: #000000;
    border: none;
    color: rgb(97, 204, 71);
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'poppins', sans-serif;
}
